<!--{% extends 'base.html' %}

{% block content %} -->

<!DOCTYPE html>
<head>
    <title>Vice and Virtue</title>
    <link rel="icon" type="image/x-icon" href="/static/images/koala.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
</head>

<body>

<div class="super_container">


    <header>
        {% if user.is_authenticated %}
        <a class="logo"href="/">{{user.first_name}}'s Journals </a>
        <nav>
            <ul class="nav_links">
                
                <li><a href="posts/all_posts">All {{user.first_name}}'s Journals</a></li>
                <!--<li><a href="posts/daily_posts">View Daily Mentors </a></li>-->
                <li><a href="posts/write_post">Write today's journal </a></li>
                <li class="cta"><span><a href="accounts/logout"><button>Logout</button></a></span></li>
                {% else %}
                <a class="logo"href="/">Vice and Virtue</a>
                <li><a href="accounts/login">Sign up / Sign in</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    
            
    <!--- Body -->
    <div class="wrapper">
        <div class="inspire">
            <div class="inspire-text">
                <span></span>
                <h1> Journal like Benjamin Franklin </h1>
                <p> "Every morning we are born again. What we do today is what matters most". 
                Ask yourself the questions that Benjamin Franklin (and some other) asked themselves each day. </p>
            </div>
            <div class="inspire-banner">
                <img src="/static/images/koala.png">
            </div>
        </div> 
        <small><b> Why did we make this? </b></small>
        <small><b> Credits </b></small>
    </div>



</div> <!-- This is the super container closing div-->



</body>
</html>

<!--{% endblock %}-->