<!--{% extends 'base.html' %}

{% block content %} -->

<!DOCTYPE html>
<head>
    <title>My Mentors</title>
    <link rel="icon" type="image/x-icon" href="/static/images/pandathree.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
</head>

<body>

<div class="super_container">


    <header>
        {% if user.is_authenticated %}
        <a class="logo"href="/">{{user.first_name}}'s Mentors </a>
        <nav>
            <ul class="nav_links">
                
                <li><a href="posts/all_posts">All {{user.first_name}}'s Mentors</a></li>
                <li><a href="posts/daily_posts">View Daily Mentors </a></li>
                <li class="cta"><span><a href="accounts/logout"><button>Logout</button></a></span></li>
                {% else %}
                <a class="logo"href="/">My Mentors</a>
                <li><a href="accounts/login">Sign up / Sign in</a></li>
                {% endif %}

                {% if user.is_superuser %}

                <li><a href="posts/write_post">Add a New Mentor </a></li>

                {% endif %}
            </ul>
        </nav>
    </header>
    
            
    <!--- Body -->
    <div class="wrapper">
        <div class="inspire">
            <div class="inspire-text">
                <span></span>
                <h1> Daily Mentorship </h1>
            <div>
                <form action="add_mentor" method="POST">
                {% csrf_token %}
                 <input type="text" class="create-text" name="description" placeholder="Description" required><br>
                {{ profile_form.as_table }}
                <input type="submit" value="Add Mentor"
                </form>
            </div>
                <p> Get content from your favorite mentors to start your morning with a new mindset. "You are 
                the average of the 5 people you spend the most time with". What if you spend a little more
                time with the people who inspire you? </p>
            </div>
            <div class="inspire-banner">
                <img src="/static/images/pandathree.png">
            </div>
        </div> 
        <small><b> Why did we make this? </b></small>
        <small><b> Credits </b></small>
    </div>



</div> <!-- This is the super container closing div-->



</body>
</html>

<!--{% endblock %}-->